<div class="magen-wrapper" dir="rtl">
  <div class="dashboard-layout">
    <app-sidebar [currentUserEmail]="currentUserEmail" [currentQuote]="currentQuote" [currentTab]="currentTab"
      [isAdmin]="isAdmin" (tabChange)="switchTab($event)" (logoutEvent)="logout()"></app-sidebar>

    <main class="main-content">
      <ng-container *ngIf="isAdminUsersRoute(); else legacyContent">
        <router-outlet></router-outlet>
      </ng-container>

      <ng-template #legacyContent>
        <app-calendar *ngIf="currentTab === 'calendar'" [calendarDays]="calendarDays"
          [year]="selectedYear" [month]="selectedMonth" (assignVolunteer)="onAssignVolunteer($event)"
          (navigateToTab)="switchTab($event)" (monthChange)="onMonthChange($event)"></app-calendar>

        <app-samples *ngIf="currentTab === 'samples'" [sampleCalls]="sampleCalls"></app-samples>

        <app-report *ngIf="currentTab === 'report'" [callDuration]="callDuration" [callerType]="callerType"
          [callPurpose]="callPurpose" [summaryNotes]="summaryNotes" [callerName]="callerName" [phone]="phone"
          [email]="email" [region]="region" [gender]="gender" [sector]="sector"
          [contactedOtherCenterBefore]="contactedOtherCenterBefore"
          (reportSubmit)="onReportSubmit($event)"></app-report>

        <app-charts *ngIf="currentTab === 'charts'"></app-charts>

        <app-future *ngIf="currentTab === 'future'"></app-future>
      </ng-template>
    </main>
  </div>
</div>
